* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: hsl(218, 44%, 22%);
	--color-secondary: hsl(228, 45%, 44%);
	--color-tertiary: hsl(0, 0%, 100%);
	--color-bg: hsl(212, 45%, 89%);
	--color-grey: hsl(216, 15%, 48%);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--color-secondary);
}

body {
	height: 100vh;
	width: 1440px;
	background-color: var(--color-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Outfit", sans-serif;
	font-size: 15px;
	color: var(--color-primary);
	margin: auto;
}

.qr-card {
	background-color: var(--color-tertiary);
	height: fit-content;
	width: 260px;
	padding: 12px;
	border-radius: 16px;
	margin-bottom: 20px;
}

.qr-image {
	border-radius: 8px;
	width: 100%;
	margin-bottom: 5px;
}

.texts {
	padding: 12px;
	padding-bottom: 20px;
	text-align: center;
}
.title {
	font-weight: 700;
	margin-bottom: 16px;
}

.visit {
	color: var(--color-grey);
	font-size: 12px;
	font-weight: 400;
}

@media screen and (max-width: 1439px) {
	body {
		width: 100%;
	}
}
